@model UserViewModel
<form>
    <label asp-for="Login">Логин</label>
    <input asp-for="Login" />
    <label asp-for="Password">Пароль</label>
    <input asp-for="Password" />
    <button></button>
</form>